<!DOCTYPE html>
<html lang="">
    <body>
    <%= title %>
    <%= name %>
    <form action="/" method="post">
      <input type = "text" id = "id" name="id" placeholder="ID를 입력해주세요"/>
      <input type = "submit"/>
    </form>
    <form action = "/create" method="post">
        <div>title :  <input type = "text" name = "title"/></div>
        <div>author : <input type = "text" name="author"></div>
        <div><button>submit</button></div>
    </form>
    <form action="/delete" method="post">
        <div>title :  <input type = "text" name = "title"/></div>
        <div><button>삭제</button></div>
    </form>
    <% if(id){ %>
      <%= id %>
    <%} else { %>
    Not Cookie
      <% }%>
      </body>
 </html>
